// **** VARIABLES **** //
// =================== //

:root {
    --mainColor: black;
    // --variable: ...;
    // --variable: ...;
    // --variable: ...;
}

// Utilitaires Couleurs
$color-text: #ffff;
$color-button: #93A5FF;
$color-div: #384170;
$color-bg: #F7F8FF;

