// **** TYPO **** //
// ============== //

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,400&family=Roboto:wght@700&display=swap');


h1 {
    font-size: calc(20px + 2vw);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: calc(20px + 0.5vw);
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

h3 {
    font-size: calc(20px + 0.3vw);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

p {
    font-size: calc(15px + 0.1vw);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.commentaires {
    font-family: 'Nunito', sans-serif, italic;
    font-weight: 400;
}